.wakatime-project
log.txt
helix.bin
helix.elf
src/helix/*.o
coil/*.bin
handoff*.txt
src/helix/.wakatime-project
coil/.wakatime-project
basic/.wakatime-project
pong/.wakatime-project
demo/.wakatime-project
docs/.wakatime-project
*/.wakatime-project
